projectPrefix = "cld-mig"
awsRegion = "ap-southeast-2"
resourceOwner = "BFSI"
cm_licenses = "xxxxxxxxxxxxxxxx"
dcd_licenses = "xxxxxxxxxxxxxxxx"
allowedIps = ["0.0.0.0/0"]
f5_ssh_publickey = "<ssh_key.pub contents>"
ec2_key_name = "<aws_ec2_key_name>"
