{
    "class": "DO",
    "declaration": {
            "schemaVersion": "1.5.0",
            "class": "Device",
            "async": true,
            "Common": {
                    "class": "Tenant",
                    "myProvision": {
                            "ltm": "nominal",
                            "class": "Provision"
                    },
                    "admin": {
                            "class": "User",
                            "userType": "regular",
                            "password": "${bigIqUsername}",
                            "partitionAccess": {
                                    "all-partitions": {
                                            "role": "${bigIqPassword}"
                                    }
                            }
                    },
                    "hostname": "${bigip_hostname}"
            }
    },
    "targetUsername": "$(f5_username}",
    "targetHost": "${bigip_hostname}",
    "targetPassphrase": "${f5_password}",
    "bigIqSettings": {
            "failImportOnConflict": false,
            "conflictPolicy": "USE_BIGIQ",
            "deviceConflictPolicy": "USE_BIGIP",
            "versionedConflictPolicy": "KEEP_VERSION"
    }
}